{% extends 'base.html.twig' %}

{% block main %}
    <div class="text-center">
        <h3>Order ID: {{ order.order_id }}</h3>
        <h4>Total Price: £{{ order.total }}</h4>
        <div class="row d-flex justify-content-center" style="width: fit-content; margin: 0 auto;">
            {% for order_item in order_items %}
                <div class="card mx-3 px-0 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
                     style="width: 18rem; margin: 1rem auto;">
                    <img src="{{ order_item.car.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ order_item.car.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ order_item.car.brand }} {{ order_item.car.model }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Quantity: {{ order_item.quantity }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Price: £{{ order_item.price }}</h6>
                        <div class="d-flex justify-content-around">
                            <a href="/cars/{{ order_item.car.car_id }}" class="card-link">More info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}