{% extends 'base.html.twig' %}

{% block main %}
    <div style="width: fit-content; margin: 0 auto;">
        <h3 class="text-center">Sign Up</h3>
        <form method="post" class="mt-3" action="/auth/create-user" style="width: 500px;">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" value="{{ username }}" class="{% if errors %}border border-danger {% endif %}form-control" id="username" name="username" aria-describedby="emailHelp">
                {% if usernameError %}
                    <p class="text-danger">{{ usernameError }}</p>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" value="{{ email }}" class="{% if errors %}border border-danger {% endif %}form-control" id="email" name="email" aria-describedby="emailHelp">
                {% if emailError %}
                    <p class="text-danger">{{ emailError }}</p>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="{% if errors %}border border-danger {% endif %}form-control" id="password" name="password">
                {% if passwordError %}
                    <p class="text-danger">{{ passwordError }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
{% endblock %}