{% extends 'base.html.twig' %}

{% block main %}
    <div class="text-center">
        <h3>All Cars</h3>
        <div class="row d-flex justify-content-center" style="width: fit-content; margin: 0 auto;">
            {% for car in cars %}
                <div class="card mx-3 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
                     style="width: 18rem; margin: 1rem auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ car.brand }} {{ car.model }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Engine horsepower: {{ car.engine.horsepower }}</h6>
                        <div class="d-flex justify-content-around">
                            {% if logged_in and id == car.user_id %}
                                <form method="post" action="cars/delete-car">
                                    <input type="hidden" name="id" id="id" value="{{ car.car_id }}"/>
                                    <input class="text-primary text-decoration-underline" type="submit"
                                           style="border: none; background: transparent;" value="Delete">
                                </form>
                            {% endif %}
                            <a href="/cars/{{ car.car_id }}" class="card-link">More info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}