{% extends 'base.html.twig' %}

{% block main %}
    <div class="text-center" style="margin: 0 auto; width: fit-content;">
        <h3 class="card-title mb-3">{{ car.name }}</h3>
        <div class="card" style="width: 18rem;">
            <img src="{{ car.url }}" class="card-img-top" alt="...">
            <div class="card-body mb-0">
                <h6 class="card-subtitle mb-2 text-muted">{{ car.brand }} {{ car.model }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Engine horsepower: {{ car.engine.horsepower }}</h6>
                <h6 class="card-subtitle text-muted">Price: £{{ car.price }}</h6>
            </div>
            {% if logged_in and id != car.user_id %}
                <form method="post" action="/cart/add-to-cart">
                    <input type="hidden" name="id" id="id" value="{{ car.car_id }}" />
                    <button type="submit" class="mb-3 btn btn-success btn-sm">Add To Cart</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}